.test{
    width:100%;
    height: 400px;
}

.test .redbox{
    height:400px;
    width: 400px;
    color: red;
    
}

body{
    font-family: Arial, sans-serif;
    
    
}

/* Header */
   header {
        font-size: 13px;
        color: #000;
        background-color: yellow;
        width: 100%;
    }

    header a {
        text-decoration: none;
        color: #000;
        opacity: 0.75;
    }
    
    header button{
        background-color: #4387fd;
        color: white;
        padding: 6px 10px;
        border: 1px solid #4285f4;
        font-weight: bold;
        border-radius: 2px;
        margin-left: 18px;

    }

    header a:hover {
        text-decoration: underline;
    }

    header p {
        display: inline-block;
        padding-left: 15px;
    }

    .top-menu-left{
        float: left;
    }

   .top-menu-right {
        float: right;
        padding-right: 20px;        
    }

/* Main */

main {
    clear: both;
    position: relative;
    
}

img {
    display: block;
    padding: 135px 0 40px 0;
    margin: auto;
}

input {
    display: block;
    width: 482px;
    height: 44px;
    border: 0.5px solid lightgray;
    border-radius: 25px;
    font-size: 16px;
    padding-left: 18px;
    margin: 0 auto;
    
}

input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}


#buttons{
    margin: 20px auto;
    text-align: center;
}

#buttons button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    color: #5F6368;
    margin: 11px;
    line-height: 27px;
    height: 36px;
    margin: 11px 4px;
    padding: 0 16px;
    font-size: 14px;

}

#buttons button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

/*FOOTER*/

footer {
    
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 11px 0;
}

footer a{
    color: #5F6770;
    text-decoration: none;
    font-size: 14px;
    padding-left: 25px;
}

footer a:hover{
    text-decoration: underline;
}

.footer-left{
    float: left;
}

.footer-right {
    float: right;
    padding-right: 25px;
    
}

