body{
    font-family: Arial, sans-serif;
    width: 100%;
}

/* Header */
    header {
        font-size: 13px;
        color: #000;
       
        display: block;
    }

    header a {
        text-decoration: none;
        color: #000;
        opacity: 0.75;
    }
    

    header a:hover {
        text-decoration: underline;
    }

    header p {
        display: inline-block;
        padding-left: 15px;
    }

    header .top-menu-left{
        float: left;
        width: 50%;
    }

    header .top-menu-right {
        float: right;
        width: 50%;
    }

/* Main */

main {
    width: 500px;
    margin: 0 auto;
    
}

main img{
    padding: 109px 0 0 0;
}

input {
    width: 448px;
    height: 40px;
    border: 0.5px solid lightgray;
    border-radius: 25px;
    font-size: 16px;
    padding-left: 18px;
    
}

#buttons{
    position: absolute;
    margin: 20px auto;
    background-color: blue;

    
}